* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

section {
    padding: 4rem 0;
}

.header-area {
    text-align: center;
}

.header-area h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.header-area p {
    width: 55%;
    margin: auto;
    font-size: .9rem;
    line-height: 1.8;
    color: #6c6464;
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex .col {
    margin: 1rem auto;
}

.btn {
    color: #fff;
    background: #FF5959;
    padding: .7rem 1.5rem;
    border-radius: 5px;
    text-transform: capitalize;
    display: inline-block;
}

/* Donate-header */
.donate-header {
    background: url(images/donation2.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    color: #fff;
    padding: 0;
}

.overlay {
    background: rgba(0, 0, 0, .7);
    height: 100vh;
    width: 100%;
}

.header-content {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 12rem;
}

.header-content h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.header-content p {
    font-size: .9rem;
    line-height: 2;
    color: #c7c7c7;
    width: 75%;
    margin: 1rem auto 1rem auto;
}

/* Donate Today  */
.donate-today .container {
    width: 50%;
    margin: 2rem auto 1rem auto;
}

.donate-today .col h3 {
    color: #707070;
    font-size: 1.2rem;
    background-color: #FAFAFA;
    padding: 1rem;
}

.donate-today .col:nth-child(2) h3 {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    color: #FF5959;
    border-radius: 3px;
}

.donate-today input {
    width: 100%;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    padding: 1rem;
    border-bottom: 1px solid #B3B3B3;
}

.donate-today input::placeholder {
    text-align: center;
    font-size: 1.2rem;
    color: #B3B3B3;
}

.donate-today .btn {
    display: inherit;
    margin: 1rem auto;
    width: 15%;
}

/* Donation Plan */
.donate-plan .flex {
    align-items: unset;
    justify-content: unset;
}
.donate-plan .col {
    padding: 2rem 1rem;
    margin: 2.5rem 1rem 1rem 1rem;
    border-radius: 5px;
    flex-basis: 100%;
}

.donate-plan .col:nth-child(1) {
    background-color: #4f9da644;
}
.donate-plan .col:nth-child(2) {
    background-color: #ff59593a;
}
.donate-plan .col:nth-child(3) {
    background-color: #ffeaa775;
}

.donate-plan .col p {
    font-size: .9rem;
    line-height: 1.7;
    color: #707070;
}

.donate-plan .col img {
    margin-top: 2rem;
}

/* Get updates */
.get-updates .container {
    width: 60%;
    margin: 2rem auto 1rem auto;
    background-color: #FFF4D6;
    height: 10rem;
    text-align: center;
    padding-top: 7rem;
    border-radius: 5px;
}

.get-updates .container input {
    width: 40%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 1rem;
}

.get-updates .container input::placeholder {
    color: #AA9F9F;
}

/* Footer */
footer {
    background-color: #0B0D17;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

footer h3{
    font-size: 2rem;
    text-transform: capitalize;
}

footer p {
    width: 60%;
    margin: auto;
    color: #c7c7c7;
    font-size: .9rem;
    line-height: 1.8;
}
